.typewriter {
  background-color: #20232a;
}
.typewriter h1 {
  overflow: hidden;
  border-right: 2px solid;
  white-space: nowrap;
  max-width: 980px;
  margin: auto;
  user-select: none;
  font-weight: 500;
  color: #ffffff;
  animation: typing 3.6s steps(30, end), blink-caret 1s step-end infinite;
}

h1 {
  padding: 10px;
  max-width: 980px;
  margin: auto;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
